﻿@*
    Lab 6 - footer partial view
*@
<footer class="border-top footer text-muted">
    <div class="container">
        Course 2139  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>