@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMP2139 Labs - Home Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Project ASP.NET MVC</a>.</p>
</div>
